<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created with
<%= link_to('Rails', 'https://github.com/rails/rails') %>
from the <%= link_to('Authenticapp project', 'https://github.com/sergiosouzalima/authenticapp') %>.
</p>
